<!DOCTYPE html>
<html lang="en" data-theme="light">
<body>
<div id="app" class="flex h-screen max-w-screen flex-col">
    <header class="flex-0 container navbar mx-auto 1080p:max-w-screen-2xl">
        <nav class="flex-1"><a href="/" class="btn btn-ghost gap-0 text-lg md:text-2xl"><span>AI</span><span
                class="text-error">SW</span></a></nav>
        <nav class="flex-none">
            <div class="flex items-center justify-center gap-4">
                <div class="flex gap-2 md:gap-4"><a id="return-link" href=""
                                                    class="btn btn-ghost flex items-center gap-[6px] capitalize"> <span
                        class="text-lg md:text-xl">Return to CCTV</span> <span class="text-xl text-primary md:text-2xl"> <svg
                        data-hk="0-0" fill="currentColor" stroke-width="0" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24" height="1em" width="1em" style="overflow:visible;color:currentcolor;"><path
                        d="M18.618 7.462 6.403 2.085a1.007 1.007 0 0 0-.77-.016 1.002 1.002 0 0 0-.552.537l-3 7a1 1 0 0 0 .525 1.313L9.563 13.9 8.323 17H4v-3H2v8h2v-3h4.323c.823 0 1.552-.494 1.856-1.258l1.222-3.054 3.419 1.465a1 1 0 0 0 1.311-.518l3-6.857a1 1 0 0 0-.513-1.316zm1.312 8.91-1.858-.742 1.998-5 1.858.741z"></path></svg> </span>
                </a>
                    <div class="flex items-center"><label class="btn btn-ghost drawer-button 2xl:hidden 2xl:invisible">
                        <input type="checkbox" class="drawer-toggle"> <span class="text-lg md:text-xl"> <svg
                            data-hk="0-0" fill="currentColor" stroke-width="0" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16" height="1em" width="1em" style="overflow:visible;color:currentcolor;"><path
                            d="M3.5 3a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM3 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"></path><path
                            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm12-1v14h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zm-1 0H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h9V1z"></path></svg> </span>
                    </label></div>
                </div> <!-- <select name="theme" id="theme" class="select" transition:persist>
            <option value="light">Light</option>
            <option value="dark">Dark</option>
          </select> --> </div>
        </nav>
    </header>
    <div class="flex-1">
        <main class="container mx-auto h-full p-6 2xl:px-0 2xl:py-8">
            <div class="drawer 2xl:drawer-open"><input id="drawer-toggle" type="checkbox" class="drawer-toggle">
                <div class="drawer-content lg:px-8">
                    main
                    <h1>로그 페이지입니다</h1>

                    {#통계 기간 지정#}
                    <form action="/statistics/date" , method="GET">
                        <input type="date" id="dateFrom" name="dateFrom"></input>
                        <input type="date" id="dateTo" name="dateTo"></input>
                        <input type="button" onclick="drawGraph()" value="전송">
                    </form>

                    {#    막대 그래프 차트#}
                    <canvas id="ObjectbarChart"></canvas>
                    <canvas id="ObjectLineChart"></canvas>
                    <canvas id="ObjectDoughnutChart"></canvas>
                    {#json으로 파싱하면서 더 이상 작동 안함#}
                    {#<table>#}
                    {#    {% for log in loglist %}#}
                    {#        <ul>#}
                    {#            <li>{{ log.log }}</li>#}
                    {#            <li>{{ log.time|date:'Y-m-d H:i' }}</li>#}
                    {#            <li>{{ log.location }}</li>#}
                    {#        </ul>#}
                    {#    {% endfor %}#}
                    {#</table>#}

                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
                </div>
                <div class="drawer-side"><label for="drawer-toggle" aria-label="close sidebar"
                                                class="drawer-overlay"></label>
                    <div class="h-full w-48 bg-base-200 py-2 2xl:rounded-tr-lg">
                        <ul class="menu rounded-box gap-1">
                            <li class="font-bold">
                                <button id="cctv-1" class="cctv-button">CCTV 1</button>
                            </li>
                            <li class="font-bold">
                                <button id="cctv-2" class="cctv-button">CCTV 2</button>
                            </li>
                            <li class="font-bold">
                                <button id="cctv-3" class="cctv-button">CCTV 3</button>
                            </li>
                            <li class="font-bold">
                                <button id="cctv-4" class="cctv-button">CCTV 4</button>
                            </li>
                            <li class="font-bold">
                                <button id="cctv-5" class="cctv-button">CCTV 5</button>
                            </li>
                            <li class="font-bold">
                                <button id="cctv-6" class="cctv-button">CCTV 6</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">

    // ajax를 이용해 로그 데이터를 받는다. 받은 데이터는

    var barChart = null;
    var lineChart = null;

    function drawGraph() {
        function getLog() {
            var log = "";
            var dateFrom = document.getElementById('dateFrom').value;
            var dateTo = document.getElementById('dateTo').value;
            $.ajax({
                url: 'http://127.0.0.1:8000/statistics/dateDetail?dateFrom=' + dateFrom + '&dateTo=' + dateTo,
                async: false,
                dataType: "JSON",
                success: function (data) {
                    log = JSON.parse(data);
                },
            });

            return log;
        }


        // 다음과 같은 방식으로 접근 가능(log[index]["fields"].databaseAttribute)
        // index는 log 배열의 인덱스이다
        // json은 model, pk, fields로 나누어진다.
        // fields는 json의 fields이다.(fileds 안에 실제 데이터가 들어가 있음)
        // databaseAttribute는 실제 데이터베이스에 있는 속성이다.
        var log = getLog();

        // log로 부터 탐지 객체 로그 파싱 후 objectDict에 저장
        /*
        for (var i = 0; i < log.length; i++) {
            var logtemp = log[i]['fields'].log;
            var json_log = JSON.parse(logtemp);
            var keys = Object.keys(json_log);
            keys.forEach(function (key) {
                if (objectDict[key] === undefined)
                    objectDict[key] = json_log[key];
                else
                    objectDict[key] += json_log[key];

            })
        }*/

        // 로그 데이터 저장 배열. 필요 없는 데이터(모델 정보, pk등 )를 없앤 로그 데이터 배열
        var logArr = [];
        // 탐지 객체 저장 딕셔너리
        var objectDict = {};

        for (var i = 0; i < log.length; i++) {
            var logtemp = log[i]['fields'].log;
            var json_log = JSON.parse(logtemp);
            var keys = Object.keys(json_log);
            var objectDictTemp = {};
            keys.forEach(function (key) {
                // 로그데이터 배열에 로그 데이터 저장
                if (objectDictTemp[key] === undefined)
                    objectDictTemp[key] = json_log[key];

                // 탐지 객체 딕셔너리에 탐지 내용 저장
                if (objectDict[key] === undefined)
                    objectDict[key] = json_log[key];
                else
                    objectDict[key] += json_log[key];

            });
            logArr[i] = [log[i]["fields"].time, log[i]["fields"].location, json_log];
        }

        // 키 set과 data set으로 분리
        var labels = Object.keys(objectDict);
        var data = Object.keys(objectDict).map(function (key) {
            return objectDict[key];
        })

        // 막대 그래프 생성 스크립트
        const ctxBar = document.getElementById('ObjectbarChart');

        // 막대 차트 그리기
        if (barChart !== null) barChart.destroy();
        barChart = new Chart(ctxBar, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: '탐지 개수',
                        data: data,
                        borderWidth: 1,
                        borderColor: "#3e95cd"
                    }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var bike = [];
        var car = [];
        var bus = [];
        var truck = [];
        var dateLabel = new Set();

        // 탐지 객체 배열 초기화
        for (var i = 0; i < logArr.length; i++) {
            time = logArr[i][0].split("T")[0];
            dateLabel.add(time);

            bike[time] = 0;
            car[time] = 0;
            bus[time] = 0;
            truck[time] = 0;
        }

        // 실제 탐지 객체 개수 저장
        for (var i = 0; i < logArr.length; i++) {
            time = logArr[i][0].split("T")[0];

            if (logArr[i][2]["bike"] !== undefined) {
                bike[time] += logArr[i][2]["bike"];
            }
            if (logArr[i][2]["car"] !== undefined) {
                car[time] += logArr[i][2]["car"];
            }
            if (logArr[i][2]["bus"] !== undefined) {
                bus[time] += logArr[i][2]["bus"];
            }
            if (logArr[i][2]["truck"] !== undefined) {
                truck[time] += logArr[i][2]["truck"];
            }
        }
        console.log(bike);
        console.log(car);
        console.log(truck);
        console.log(bus);
        console.log(dateLabel);

        // 날짜별 객체 탐지 개수 그래프

        // 막대 그래프 생성 스크립트
        const ctxLine = document.getElementById('ObjectLineChart');

        // 막대 차트 그리기
        if (lineChart !== null) lineChart.destroy();
        lineChart = new Chart(ctxLine, {
            type: 'line',
            data: {
                labels: [...dateLabel],
                datasets: [
                    {
                        label: '승용차 탐지 개수',
                        data: Object.keys(car).map(function (key) {
                            return car[key];
                        }),
                        borderWidth: 1,
                        borderColor: "#3ee345"
                    },
                    {
                        label: '버스 탐지 개수',
                        data: Object.keys(bus).map(function (key) {
                            return bus[key];
                        }),
                        borderWidth: 1,
                        borderColor: "#9b6693"
                    },
                    {
                        label: '트럭 탐지 개수',
                        data: Object.keys(truck).map(function (key) {
                            return truck[key];
                        }),
                        borderWidth: 1,
                        borderColor: "#a8bd6c"
                    },
                    {
                        label: '오토바이 탐지 개수',
                        data: Object.keys(bike).map(function (key) {
                            return bike[key];
                        }),
                        borderWidth: 1,
                        borderColor: "#ce917b"
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    x: {
                        beginAtZero: true,
                    }
                },
                lineTension: 0.3,
            }
        })
    }
</script>
</body>
<head>
    <meta name="astro-view-transitions-enabled" content="true">
    <meta name="astro-view-transitions-fallback" content="animate"><!-- <script>
      document.addEventListener("astro:page-load", () => {
        const themeSelect = document.getElementById("theme");

        if (localStorage.getItem("theme") === null) {
          document.documentElement.setAttribute("data-theme", "light");
        }

        themeSelect.addEventListener("change", (e) => {
          const theme = e.target.value;
          document.documentElement.setAttribute("data-theme", theme);
          localStorage.setItem("theme", theme);
        });
      });

      document.addEventListener("astro:after-swap", () => {
        const theme = localStorage.getItem("theme");
        document.documentElement.setAttribute("data-theme", theme);
      });
    </script> -->
    <meta charset="UTF-8">
    <meta name="description" content="Astro description">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <meta name="generator" content="Astro v3.5.4">
    <title>Statistics</title>
    <link rel="stylesheet" href="/static/login.67f6964b.css"/>
    <script type="module" src="/static/hoisted.0fc80631.js"></script>
</head>
</html>